

.main-bg {
    background-color: #2C3333;
    }

.footer {
   font-style: italic;
  background-color: #FF6000;
  padding: 15px;
}

.footer__socialmedia {
   display: flex;
   justify-content: center;
}

.button {
        padding: 5px 0px;
        margin: 0px;
        background-color: #FF6000;
        border: none;
        border-radius: 5px;
        color: #38E54D;
        
     
}
.button img {
    width: 24px; /* Ajusta el ancho deseado */
  height: 24px; /* Ajusta la altura deseada */
}
 .header__nav__list {
    list-style: none;
 }
